body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ffff00;
    border-radius: 10px;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.pergunta {
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.pergunta.active {
    opacity: 1;
    transform: translateY(0);
}

.pergunta p {
    font-size: 18px;
    margin-bottom: 10px;
}

.botao-resposta {
    background-color: #fff81e;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-resposta:hover {
    background-color: #ffbb3e;
}

#botaoEnviar {
    display: none;
    background-color: #fff81e;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botaoEnviar:hover {
    background-color: #ffbb3e;
}

.resultado-container {
    display: none;
    margin-top: 30px;
}

.resultado-img {
    max-width: 200px;
    margin-bottom: 20px;
}

.resultado-texto {
    font-size: 24px;
    margin-bottom: 20px;
}

#botaoRefazer {
    background-color: #fff81e;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botaoRefazer:hover {
    background-color: #ffbb3e;
}

